<!DOCTYPE html>
<html>
  <head>
    <title>Maze</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="maze.css" />
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-content>
          <v-container fluid>
            <v-card class="my-2">
              <v-card-title>迷路生成</v-card-title>
              <v-card-text class="pb-0">
                <v-text-field v-model.number="x" label="X" type="number" min="5" step="2"></v-text-field>
                <v-text-field v-model.number="y" label="Y" type="number" min="5" step="2"></v-text-field>
              </v-card-text>
              <v-card-actions class="pt-0">
                <v-spacer></v-spacer>
                <v-btn @click="regenMaze()">再生成</v-btn>
              </v-card-actions>
            </v-card>

            <v-card class="my-2">
              <v-card-title>迷路解決</v-card-title>
              <v-card-text class="pb-0">
                <p class="subtitle-1 black--text">
                  <span class="green--text">{{ numberOfSuccesses }}</span>
                  <span class="red--text">{{ numberOfFailures }}</span>
                  {{ numberOfSuccesses + numberOfFailures }}
                </p>
              </v-card-text>
              <v-card-actions class="pt-0">
                <v-spacer></v-spacer>
                <v-btn @click="solve()">解決</v-btn>
                <v-btn @click="solveXTimes(100)">解決 100回</v-btn>
              </v-card-actions>
            </v-card>

            <v-card class="my-2">
              <v-card-text>
                <div class="maze">
                  <div v-for="(line, x) in maze" :key="x" v-cloak class="line">
                    <div
                      v-for="(cell, y) in line"
                      :key="y"
                      v-cloak
                      class="cell"
                      :class="cellCSS(cell, x, y)"
                    >
                      <v-tooltip top>
                        <template v-slot:activator="{ on }">
                          <span v-on="on">{{ match[x][y] }}</span>
                        </template>
                        <span>({{ x }}, {{ y }})</span>
                      </v-tooltip>
                    </div>
                  </div>
                </div>
              </v-card-text>
            </v-card>
          </v-container>
        </v-content>
      </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="maze.js"></script>
  </body>
</html>
